%div
  = link_to t('menu.api'), api_path
  |
  = link_to t('menu.about'), about_path
%div
  = link_to image_tag("open-data-montreal-#{params[:locale]}.png"), "http://montrealouvert.net/donnees-ouvertes-questions-frequemment-demandees/?lang=#{params[:locale]}"
