#latest_infractions.grid_4.column.infractions
  %h1= t :latest_infractions
  = render_cell :infractions, :latest

#most_infractions.grid_4.column.establishments
  %h1= t :most_infractions
  = render_cell :establishments, :most_infractions

#highest_infractions.grid_4.column.establishments
  %h1= t :highest_infractions
  = render_cell :establishments, :highest_infractions
