- content_for :head, javascript_tag("var establishments = #{@establishments.to_json};")
- stylesheet 'statistics'
- javascript %w(http://openlayers.org/dev/OpenLayers.js cloudmade mxn/mxn-min mxn/mxn.core-min mxn/mxn.openlayers.core-min statistics)

#map

.grid_6
  = render 'pages/chart', :chart => @charts[:infractions_count_by_establishment_type], :id => 'infractions_count_by_establishment_type', :style => 'barchart wide', :kind => 'bar'
.grid_6
  = render 'pages/chart', :chart => @charts[:infractions_amount_by_establishment_type], :id => 'infractions_amount_by_establishment_type', :style => 'barchart wide', :kind => 'bar'
.grid_12
  = render 'pages/chart', :chart => @charts[:infractions_count_by_infraction_type], :id => 'infractions_count_by_infraction_type', :style => 'barchart wide', :kind => 'bar'
.grid_12
  = render 'pages/chart', :chart => @charts[:days_between_infraction_and_judgment], :id => 'days_between_infraction_and_judgment', :style => 'columnchart', :kind => 'column'
.grid_12
  = render 'pages/chart', :chart => @charts[:infraction_amounts], :id => 'infraction_amounts', :style => 'columnchart', :kind => 'column'
