- content_for :map do
  = render :template => 'map/index'

.grid_12
  %table.pretty
    %thead
      %tr
        %th= sortable "name", t(:name)
        %th= t :address
        %th= sortable "infractions_count", t(:infraction_count)
        %th= sortable "infractions_amount", t(:infraction_amount)
        %th= sortable "infractions.judgment_date", t(:latest_infraction)
    %tbody
      - @establishments.each do |e|
        %tr[e]
          %td= link_to e.name, e
          %td= e.full_address
          %td= e.infractions_count
          %td= number_to_currency e.infractions_amount, :precision => 0
          %td= l e.infractions.order("judgment_date ASC").last.judgment_date

  = will_paginate @establishments
