- content_for :map do
  = render 'shared/map'

.grid_12
  %table.pretty
    %thead
      %tr
        %th= sortable 'name', t(:name)
        %th= t :address
        %th= sortable 'infractions_count', t(:infraction_count)
        %th= sortable 'infractions_amount', t(:infraction_amount)
        %th= sortable 'infractions.judgment_date', t(:latest_infraction)
    %tbody
      - @establishments.each do |establishment|
        %tr[establishment]
          %td= link_to establishment.name, establishment
          %td= establishment.full_address
          %td= establishment.infractions_count
          %td= number_to_currency establishment.infractions_amount, :precision => 0
          - if establishment.infractions.first
            %td= l establishment.infractions.first.judgment_date

  = paginate @establishments
