- if @establishment.geocoded?
  - javascript "http://maps.google.com/maps/api/js?sensor=false"
  :javascript
    $(function() {
      var latlng = new google.maps.LatLng(#{@establishment.latitude}, #{@establishment.longitude});
      var map = new google.maps.Map(document.getElementById("map_canvas"), {
        zoom: 15,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: false
      });
      var marker = new google.maps.Marker({
        position: latlng,
        title:"#{@establishment.name}",
        map: map
      });
    });

%div
  .grid_6
    %div.box
      %h1= @establishment.name
      %h2 #{t :total_infractions}: #{number_to_currency @establishment.infractions_amount} (#{@establishment.infractions_count.to_s})
      %h2 #{t :address}: #{@establishment.full_address}
      %h2 #{t :type}: #{@establishment.type.name(:fr)}
  .grid_6
    #map_canvas.box No location information
  %div.clear
  #infractions.grid_12
    = render :partial => 'infractions/infraction', :collection => @infractions, :spacer_template => 'shared/hr'
