!!!
%html(xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml")
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=utf-8"}
    <meta property="og:title" content="Resto-Net" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://resto-net.ca/" />
    <meta property="og:image" content="http://resto-net.ca/images/logo.png" />
    <meta property="og:site_name" content="Resto-Net" />
    <meta property="fb:admins" content="100002666906486" />
    %title= title
    %meta{:name => "author", :content => "Jeff Wallace"}
    %meta{:name => "description", :content => meta_description}
    = stylesheet_link_tag "reset", "text", "960", "menu", "main"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Serif|Droid+Sans"
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js'
    = javascript_include_tag :defaults
    = content_for :head
    = csrf_meta_tag
  %body
    #fb-root
    - if locale == :en
      <div class="container" style="text-align:center"><a href="http://blog.opennorth.ca/this-canada-day-help-improve-our-democracy"><img src="http://opennorth.ca/img/blog/canada-day.png" width="940" height="150" alt="Help Open North raise $10,000 for a new project by July 1, 2012" title="This Canada Day, improve our democracy. Help Open North raise $10,000 for a new project by July 1, 2012."></div>
    - else
      <div class="container" style="text-align:center"><a href="http://blog.opennorth.ca/pour-la-fete-du-canada-ameliorez-la-democrati"><img src="http://opennorth.ca/img/blog/fete-du-canada.png" width="940" height="150" alt="D'ici le 1er juillet, aidez Nord Ouvert à récolter 10 000 $ pour un nouveau projet" title="Pour la fête du Canada, améliorez notre démocratie. D'ici le 1er juillet, aidez Nord Ouvert à récolter 10 000 $ pour un nouveau projet."></div>
    #main.container_12

      #header.grid_12
        = link_to image_tag('logo.png', :alt=>"Resto-Net"), root_path
        %h2
          #facebook-like
            <fb:like href="http://resto-net.ca/" send="true" layout="button_count" width="100" show_faces="false" font=""></fb:like>
          = t :app_sub_title
      %div.clear

      #menu.grid_12
        = render 'shared/menu'
      %div.clear

      - if content_for? :map
        #map.grid_12
          = content_for :map
        %div.clear

      #content
        = yield
      %div.clear

      #footer.grid_12
        = render 'shared/footer'
      %div.clear

    = javascript_include_tag "http://connect.facebook.net/#{t :facebook_locale}/all.js#xfbml=1"
    = render 'shared/analytics' if Rails.env.production?
