!!!
%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=utf-8"}
    %title= content_for?(:title) ? content_for(:title) : t(:app_title)
    %meta{:name => "author", :content => "Jeff Wallace"}
    %meta{:name => "description", :content => t(:meta_description)}
    = stylesheet_link_tag "reset", "text", "620", "menu", "main", "embed", :cache => true
    - fonts = %w(Droid+Serif Droid+Sans).join('|')
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=#{fonts}"
    = javascript_include_tag :defaults, 'embed'
    = content_for :head
    = csrf_meta_tag
  %body
    #main.container_12
      #map.grid_12
        = content_for(:map)
      %div.clear
      #menu.grid_12
        = render 'shared/embed_menu'
      %div.clear
      #content
        = yield
      %div.clear
      #footer.grid_12
        = render 'shared/footer'
      %div.clear
      = render 'shared/analytics' if Rails.env.production?
